* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-weight: 600;
    margin: 0;
}

button {
    cursor: pointer;
    background-color: unset;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

[type="checkbox"], [type="radio"] {
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}