* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    margin: 0;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, sans-serif;
}

button {
    cursor: pointer;
    background-color: unset;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

[type="checkbox"], [type="radio"] {
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.ubuntu-light {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-style: italic;
}
