$border-radius-none: 0px;
$border-radius-xs: 1px;
$border-radius-sm: 0.125rem;
$border-radius-md: 0.25rem;
$border-radius-lg: 0.375rem;
$border-radius-xl: 0.5rem;
$border-radius-xxl: 0.75rem;
$border-radius-xxxl: 1rem;
$border-radius-full: 9999px;
