$font-size-xss: 0.5rem;
$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-lg: 1rem;
$font-size-xl: 1.25rem;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$line-height-xs: 1;
$line-height-sm: 1.25;
$line-height-md: 1.43;
$line-height-lg: 1.5;

$letter-spacing-tightest: -0.15px;
$letter-spacing-tighter: -0.1px;
$letter-spacing-tight: -0.5px;
$letter-spacing-normal: 0px;
$letter-spacing-wide: 0.5px;
$letter-spacing-wider: 0.1px;
$letter-spacing-widest: 0.15px;
